langchain
python-dotenv
langchain_community
langchain-google-genai
langchain_core
streamlit
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
faiss-cpu
chromadb
sentence-transformers
langchain_huggingface
langchain_chroma
duckdb
pandas
langchain-groq
google-generativeai
